<div class="container padding-80 w-container">
  <div class="f01_top_wrap">
    <a href="#" class="f01_logo w-nav-brand">
      <h3 class="heading-14">Alias</h3>
    </a>
  </div>
  <div class="f01_columns w-row">
    <div class="f01_column w-col w-col-2 w-col-small-small-stack">
      <div class="f01_title">Main links</div>
      <a href="#" class="f01_link">For users</a><a href="#" class="f01_link">For business</a></div>
    <div class="f01_column w-col w-col-2 w-col-small-small-stack">
      <div class="f01_title">About us</div>
      <a href="#" class="f01_link">Contact</a><a href="#" class="f01_link">Blog</a></div>
    <div class="f01_column w-col w-col-2 w-col-small-small-stack">
      <div class="f01_title">Legal</div>
      <a href="#" class="f01_link">Privacy Policy</a><a href="#" class="f01_link">Terms of Usage</a></div>
    <div class="f01_column w-col w-col-2 w-col-small-small-stack"></div>
    <div class="f01_column_right w-col w-col-4 w-col-small-small-stack">
      <div class="f01_title">Follow Our Socials</div>
      <div class="f01_social_wrap">
        <div class="f01_social_circle_c"><img src="https://uploads-ssl.webflow.com/5d68f74b5d863299418e9858/5d68f74b5d863254b08e99fc_twitter.svg" alt="" class="f01_social_icon"></div>
        <div class="f01_social_circle"><img src="https://uploads-ssl.webflow.com/5d68f74b5d863299418e9858/5d68f74b5d8632d6f38e99fb_linkedin.svg" alt="" class="f01_social_icon"></div>
      </div>
    </div>
  </div>
</div>