<div data-collapse="medium" data-animation="default" data-duration="400" class="nav-bar w-nav">
  <div class="nav-container w-container">
    <a href="/" class="brand w-nav-brand">
      <div class="logo-text">ALIAS</div>
      <div class="logo-info">UNLOCK YOUR DATA</div>
    </a>
    <div class="nav-bar-main">
      <nav role="navigation" class="nav-menu w-nav-menu">
        <%= link_to 'COMMENT ÇA MARCHE', how_path, class: 'nav-link w-nav-link' %>
        <%= link_to 'NOS SOLUTIONS', usecases_path, class: 'nav-link w-nav-link' %>
        <%= link_to 'CONTACT', request_path, class: 'nav-link w-nav-link' %>
        <%= link_to 'LOGIN', ('https://levoicelab.gdpr.dev/login/?redirect=/transfert/') , class: "button ghost w-button" %>
      </nav>
      <div class="menu-button w-clearfix w-nav-button">
        <div class="menu-icon">
          <div class="menu-icon-line-top"></div>
          <div class="menu-icon-line-middle"></div>
          <div class="menu-icon-line-bottom"></div>
        </div>
      </div>
    </div>
  </div>
</div>
