<div class="w-container">
  <div class="form-access w-form">
    <div class="cta07_main_wrap disabled-form" id="disabled-form">
      <h3>2. Contrat d'autorisation d'accès à votre compte Google Drive par Voicelab</h3>
      <div id="popup"  class=" form01 margin-left">
        <div id="popup-content">
          <p class="title" style="font-weightbold">🔒 <em>{{ c.client.body.name }}</em>, de <em>{{ c.client.body.company }}</em>, désire accéder à vos données.</p>
          <div v-if="hasContractual" class="indent">
            <p style="font-weight: bold">Cette application accèdera aux données suivantes:</p>
            <ul>
              <li v-for="scope in c.base.contractual.scopes" style="list-style: none"><alias-scope :value="scope" /></li>
              </ul>
              <p style="font-weight: bold">Ces données seront utilisées pour les raisons suivantes<span v-if="c.base.contractual.usages.length>1">s</span>:</p>
              <ul>
                <li v-for="usage in c.base.contractual.usages" style="list-style: none">{{ usage }}</code></li>
            </ul>
          </div>
          <div v-if="hasConsent">
            <div v-for="consent in c.base.consent" class="indent">
              <p style="font-weight: bold">ette application souhaite avoir votre consentement pour accéder aux données suivantes:</p>
              <ul>
                <li v-for="(scope, i) in consent.scopes" style="list-style: none">
                  Consentez-vous également à partager ce type de données <alias-scope :value="scope"></alias-scope>?
                  <input type="radio" v-model="scope.agree" :value="true">Oui
                  <input type="radio" v-model="scope.agree" :value="false">Non
                </li>
              </ul>
              <p style="font-weight: bold">Ces données seront utilisées pour la raison suivante<span v-if="consent.usages.length>1">s</span>:</p>
              <ul>
                <li v-for="usage in consent.usages" style="list-style: none">{{ usage }}</code></li>
            </ul>
          </div>
        </div>
        <div v-if="hasLegitimate" class="indent">
          <p style="font-weight: bold">Cette application recquiert l'accès à vos données legitimes por la raison suivante:</p>
          <p>{{ c.base.legitimate.reason }}</p>
          <div v-for="legitimate in c.base.legitimate.groups" class="indent">
            <p style="font-weight: bold">Cette application demande l'accès aux données suivantes:</p>
            <ul>
              <li v-for="scope in legitimate.scopes" style="list-style: none"><alias-scope :value="scope" /></li>
              </ul>
              <p style="font-weight: bold">Ces données seront utilisées pour la raison suivante<span v-if="legitimate.usages.length>1">s</span>:</p>
              <ul>
                <li v-for="usage in legitimate.usages" style="list-style: none">{{ usage }}</code></li>
            </ul>
          </div>
        </div>
        <p style="font-weight: bold">Vos données:</p>
        <ul>
          <li style="list-style: none">
            <verb :value="true">seront</verb> paratagées avec <em>{{c.client.body.name}}</em>
            <span v-if="c.legal && c.legal.destination">
              et <em v-for="(t, idx) in c.legal.destination">{{t}}<span v-if="idx+1 < c.legal.destination.length">, </span></em></span>;
          </li>
          <li style="list-style: none">
            <verb :value="c.legal.transfer_outside_eea">ne seront pas</verb> transferées en dehors de L'Union Européenne(UE);
          </li>
          <li style="list-style: none">
            <verb :value="c.legal.evaluation_notation_rating_profiling">ne seront pas</verb> utilisées pour l'évaluation, la notation, ou pour profilages;
          </li>
          <li style="list-style: none">
            <verb :value="c.legal.automated_decision">ne seront pas</verb> utilisées pour générer une décision automatique vous concernant;
          </li>
          <li style="list-style: none">
            <verb :value="c.legal.automated_surveillance">ne seront pas</verb> utilisées pour une surveillance auotmatique;
          </li>
          <li style="list-style: none">
            <verb :value="c.legal.mixing_reasonable_expectations">ne seront pas</verb> crossed or mixed beyond reasonnable expectations;
          </li>
          <li style="list-style: none">
            <verb :value="c.legal.innovative_reasonable_expectations">ne seront pas</verb> utilisées de façon innovante ou avec des technologies innovantes ou des systemes organisationnels innovants au dela d'attentes raisonnables;
          </li>
        </ul>
        <p style="font-weight: bold">Vos données seront stockées pour une durée de<em>{{c.legal.storage_duration}}</em>.</p>
        <p>
          <a v-if="c.legal.tos_url" :href="c.legal.tos_url" target="_blank">Privacy policy</a> - <a :href="'mail:' + c.legal.email_dpo">Contacter le DPO</a>
        </p>
        <p style="font-weight: bold">Vous avez le droit d'accéder, de modifier, transferer ou supprimer les données que vous avez collecté comme la loi vous y autorise.</p>
        <div class="flex">
          <button v-on:click="agree" id="yes" class="button ghost w-button" disabled>J'accepte</button>
          <button v-on:click="deny" id="no" class="button ghost w-button" disabled>Je refuse</button>
        </div>
        <p><a href="#" id="advanced" v-on:click="toggleAdvanced">Advanced</a></p>
        <div id="advanced-info" v-show="showAdvanced">
          <p>
            Request date: <code>{{c.client.date}}</code>
          </p>
        </div>
      </div>
    </div>
  </div>
</div>