<div class="container padding-80 w-container">
  <div class="grid-basic">
    <div id="w-node-eebf6b0caedb-b1edf646" class="intro-left-wrap">
      <div class="text-label">YOU NEED THIS SOLUTION ?</div>
      <div class="title-section">Become a partner</div>
      <p class="paragraph-alias">To recover your data you must request it from the desired platform, the problem is that it is sometimes legally complicated. That&#x27;s why Alias offers you the solution that can be created from scratch and adapted to your needs for each platform. Then all you have to do is send your request and reach the reception of your data.</p>
    </div>
    <div id="w-node-eebf6b0caee2-b1edf646">
      <div class="form01">
        <div class="form01_title_wrap">
          <h5 class="form01_h5">Get in touch</h5>
          <p class="form01_paragraph">Explain your need</p>
          <div class="form01_line"></div>
        </div>
        <div class="form01_form_block w-form">
          <form id="FORM01" name="wf-form-FORM01" data-name="FORM01" class="form01_form">
            <div class="form01_field_wrap"><input type="text" class="form01_input w-input" maxlength="256" name="NAME-2" data-name="NAME 2" placeholder="First Name" id="NAME-2"><input type="email" class="form01_input w-input" maxlength="256" name="EMAIL-2" data-name="EMAIL 2" placeholder="Email Address" id="EMAIL-2"></div>
            <textarea placeholder="Your message..." maxlength="5000" id="TEXT-2" name="TEXT-2" data-name="TEXT 2" class="form01_input_full w-input"></textarea>
            <input type="submit" value="Submit a request " data-wait="Please wait..." class="form01_button w-button"></form>
          <div class="form01_success w-form-done">
            <div class="form_alert">
              <div class="form_alert_wrap"><img src="https://uploads-ssl.webflow.com/5d68f74b5d863299418e9858/5d68f74b5d86322a138e9a53_check-white.svg" width="14" alt="" class="form_alert_icon">
                <div class="form_alert_line"></div>
                <div class="form_alert_text white-text">Your information has been saved.</div>
              </div>
              <img src="https://uploads-ssl.webflow.com/5d68f74b5d863299418e9858/5d68f74b5d86327d188e9a4e_x_white.svg" width="10" alt=""></div>
          </div>
          <div class="form01_alert w-form-fail">
            <div class="form_error">
              <div class="form_error_wrap"><img src="https://uploads-ssl.webflow.com/5d68f74b5d863299418e9858/5d68f74b5d86323a818e9a52_alert-circle-white.svg" width="16" alt="" class="form_error_icon">
                <div class="form_error_line"></div>
                <div class="form_error_paragraph white-text">Looks like we&#x27;re having trouble</div>
              </div>
              <img src="https://uploads-ssl.webflow.com/5d68f74b5d863299418e9858/5d68f74b5d86327d188e9a4e_x_white.svg" width="10" alt=""></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>