<body class="body">
  <div class="custom-body">
    <div data-autoplay="true" data-loop="true" data-wf-ignore="true" data-poster-url="https://uploads-ssl.webflow.com/5dd02051c5a7ed2bee543746/5dd14b33ee42466f871cbd8a_Bikers and Carriages Driving on Street-poster-00001.jpg" data-video-urls="https://uploads-ssl.webflow.com/5dd02051c5a7ed2bee543746/5dd14b33ee42466f871cbd8a_Bikers and Carriages Driving on Street-transcode.mp4,https://uploads-ssl.webflow.com/5dd02051c5a7ed2bee543746/5dd14b33ee42466f871cbd8a_Bikers and Carriages Driving on Street-transcode.webm" class="background-video-2 w-background-video w-background-video-atom">
      <video autoplay="" loop="" style="background-image:url(&quot;https://uploads-ssl.webflow.com/5dd02051c5a7ed2bee543746/5dd14b33ee42466f871cbd8a_Bikers and Carriages Driving on Street-poster-00001.jpg&quot;)" muted="" playsinline="" data-wf-ignore="true" data-object-fit="cover"><source src="https://uploads-ssl.webflow.com/5dd02051c5a7ed2bee543746/5dd14b33ee42466f871cbd8a_Bikers and Carriages Driving on Street-transcode.mp4" data-wf-ignore="true"><source src="https://uploads-ssl.webflow.com/5dd02051c5a7ed2bee543746/5dd14b33ee42466f871cbd8a_Bikers and Carriages Driving on Street-transcode.webm" data-wf-ignore="true"></video>
      <div class="overlay-video">
        <div class="w-container">
          <div class="hero6-content">
            <div class="hero-usecase--text">
              <div class="sizejumbo-text sizejumbo-top-clear usecase-title">Get your ACTIVITY data back. Avoid Lock-in.</div>
              <p class="paragraph-alias max">You love running and biking but your activity history is locked into your old device?</p>
            </div>
            <div class="button-small white-small w-inline-block">
              <% if user_signed_in? %>
                <%= link_to 'UTILISEZ ALIAS ET LIBEREZ VOS DONNÉES', device_path, class: "button-label" %>
              <% else %>
                <%= link_to 'Faites que votre voix compte ET AIDER À LA RECHERCHE FRANçaise', new_user_registration_path, class: "button-label" %>
                <%= image_tag("chevron_right.svg", class: "button-arrow") %>
              <% end %>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div>
      <div class="container padding-80 w-container">
        <div class="intro-uc">
          <div class="title-section">Transfer your performance <strong>history</strong> <br>
            <strong>into your new</strong> app or device.</div>
          <p class="text-quote left red">You have spent hours gathering data to track your activity but this data is stucked into your device. New regulations (GDPR) enable you to take it back and transfer it to your new app or device and keep track of your past performance in a seamless experience without vendor lock-in. And it&#x27;s free. </p>
          <div data-duration-in="300" data-duration-out="100" class="tabs-5 w-tabs">
            <div id="w-node-ea62a694ff34-e2b64ee8" class="tabs-menu-6 w-tab-menu">
              <a data-w-tab="Tab 2" class="button-3 white orange w-inline-block w-tab-link w--current">
                <div>Location</div>
              </a>
              <a data-w-tab="Tab 3" class="button-3 white orange w-inline-block w-tab-link">
                <div>Tracking</div>
              </a>
              <a data-w-tab="Tab 4" class="button-3 white orange w-inline-block w-tab-link">
                <div>Distance covered</div>
              </a>
              <a data-w-tab="Tab 5" class="button-3 white orange w-inline-block w-tab-link">
                <div>Location</div>
              </a>
              <a data-w-tab="Tab 6" class="button-3 white orange w-inline-block w-tab-link">
                <div>Caloric expenditure</div>
              </a>
              <a data-w-tab="Tab 8" class="button-3 white orange w-inline-block w-tab-link">
                <div>High floors</div>
              </a>
              <a data-w-tab="Tab 9" class="button-3 white orange w-inline-block w-tab-link">
                <div>Active minutes</div>
              </a>
              <a data-w-tab="Tab 10" class="button-3 white orange w-inline-block w-tab-link">
                <div>...</div>
              </a>
            </div>
            <div class="tabs-content-5 w-tab-content">
              <div data-w-tab="Tab 2" class="w-tab-pane w--tab-active">
                <div class="div-img-tab"><img src="../images/Artboard-Copy-3.jpg" height="250" alt=""></div>
              </div>
              <div data-w-tab="Tab 3" class="w-tab-pane">
                <div class="div-img-tab"><img src="../images/Artboard-Copy.jpg" height="250" alt=""></div>
              </div>
              <div data-w-tab="Tab 4" class="w-tab-pane">
                <div class="div-img-tab"><img src="../images/Artboard-Copy-4.jpg" height="250" alt=""></div>
              </div>
              <div data-w-tab="Tab 5" class="w-tab-pane">
                <div class="div-img-tab"><img src="../images/Artboard-Copy-7.jpg" height="250" srcset="../images/Artboard-Copy-7-p-500.jpeg 500w, ../images/Artboard-Copy-7.jpg 732w" sizes="(max-width: 479px) 67vw, 189.046875px" alt=""></div>
              </div>
              <div data-w-tab="Tab 6" class="w-tab-pane">
                <div class="div-img-tab"><img src="../images/Artboard-Copy-5.jpg" height="250" srcset="../images/Artboard-Copy-5-p-500.jpeg 500w, ../images/Artboard-Copy-5.jpg 732w" sizes="(max-width: 479px) 67vw, 189.046875px" alt=""></div>
              </div>
              <div data-w-tab="Tab 8" class="w-tab-pane">
                <div class="div-img-tab"><img src="../images/Artboard-Copy-6.jpg" height="250" srcset="../images/Artboard-Copy-6-p-500.jpeg 500w, ../images/Artboard-Copy-6.jpg 732w" sizes="(max-width: 479px) 67vw, 189.046875px" alt=""></div>
              </div>
              <div data-w-tab="Tab 9" class="w-tab-pane">
                <div class="div-img-tab"><img src="../images/Artboard-Copy-2.jpg" height="250" srcset="../images/Artboard-Copy-2-p-500.jpeg 500w, ../images/Artboard-Copy-2.jpg 732w" sizes="(max-width: 479px) 67vw, 189.046875px" alt=""></div>
              </div>
              <div data-w-tab="Tab 10" class="w-tab-pane"></div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div>
      <div class="container padding-80 w-container">
        <div class="intro-uc mb-40">
          <div class="title-section"><strong>Example of data transfer </strong><br>
            from Fitbit to Garmin </div>
          <p class="paragraph-alias">To recover your data you must request it from the desired platform, the problem is that it is sometimes legally complicated. That&#x27;s why Alias offers you the solution that can be created from scratch and adapted to your needs for each platform. Then all you have to do is send your request and reach the reception of your data.</p>
        </div>
        <div class="w-layout-grid grid-20">
          <div id="w-node-e372a546af89-e2b64ee8" class="case-card center both">
            <div class="fe02_card_titles">
              <div class="fe02_text-2 red">ALIAS DATA PLATFORM<br>
              </div>
            </div>
          </div>
          <div id="w-node-e372a546af8e-e2b64ee8" class="case-card center both">
            <div class="fe02_card_titles">
              <div class="fe02_text-2 red">OLD DEVICE HEADQUARTER</div>
            </div>
          </div>
          <div id="w-node-e372a546af92-e2b64ee8" class="case-card center both">
            <div class="fe02_card_titles">
              <div class="fe02_text-2 red">NEW DEVICE HEADQUARTER</div>
            </div>
          </div>
          <div id="w-node-e372a546af96-e2b64ee8" class="case-card"><img src="https://uploads-ssl.webflow.com/5d526d292ca59aed659476ed/5db9570d7358835d58dd2e74_museum.svg" alt="" class="icon-case">
            <div class="fe02_card_titles">
              <h3 class="title-card-ex">2. We help you formulate your legal GDPR request<br>
              </h3>
              <div class="label-card">assistance engine <br>
              </div>
            </div>
          </div>
          <div id="w-node-e372a546af9f-e2b64ee8" class="case-card"><img src="../images/google-logo.dad2164f.png" alt="" class="icon-case">
            <div class="fe02_card_titles">
              <h3 class="title-card-ex">1. You signup to ALIAS</h3>
              <div class="label-card">Welcome in alias<br>
              </div>
            </div>
          </div>
          <div id="w-node-e372a546afa7-e2b64ee8" class="case-card"><img src="../images/download-2.png" width="55" alt="" class="icon-case">
            <div class="fe02_card_titles">
              <h3 class="title-card-ex">4. Fitbit receives your request and prepare your data </h3>
              <div class="label-card">legal department<br>
              </div>
            </div>
          </div>
          <div id="w-node-e372a546afaf-e2b64ee8" class="case-card"><img src="../images/download-3.png" alt="" class="icon-case">
            <div class="fe02_card_titles">
              <h3 class="title-card-ex">7. Garmin receives the data and upload it to your new device</h3>
              <div class="label-card">NEW DATA</div>
            </div>
          </div>
          <div id="w-node-e372a546afb6-e2b64ee8" class="case-card"><img src="https://uploads-ssl.webflow.com/5d526d292ca59aed659476ed/5db95426e381b24a3eded9fb_apple_watch.svg" alt="" class="icon-case">
            <div class="fe02_card_titles">
              <h3 class="fe02_h5-2">5. Fitbit sends your data</h3>
              <div class="label-card">Database<br>
              </div>
            </div>
          </div>
          <div id="w-node-e372a546afbe-e2b64ee8" class="case-card"><img src="../images/download-1.jpeg" width="55" alt="" class="icon-case">
            <div class="fe02_card_titles">
              <h3 class="title-card-ex">3. You receive an email<br>
                ready-to send back to Fitbit legal department</h3>
              <div class="label-card">ready to send<br>
              </div>
            </div>
          </div>
          <div id="w-node-e372a546afc8-e2b64ee8" class="div-arrow color">
            <div class="div-block-1026-copy-copy">
              <div class="div-block-1031 _50"><img src="../images/arrow.png" srcset="../images/arrow-p-500.png 500w, ../images/arrow.png 723w" sizes="(max-width: 991px) 100vw, 470px" alt=""></div>
            </div>
            <div class="div-block-1026-copy-copy">
              <div class="div-block-1031">
                <div class="div-block-1030"></div>
                <img src="https://uploads-ssl.webflow.com/5d526d292ca59aed659476ed/5db9586ce381b2ee78def31d_next_ui.svg" height="15" alt="" class="image-9"></div>
            </div>
            <div>
              <div class="text-block-10">You send the pre-generated email (1clic)</div>
            </div>
          </div>
          <div id="w-node-e372a546afd3-e2b64ee8" class="case-card"><img src="../images/download_1.jpeg" width="55" alt="" class="icon-case">
            <div class="fe02_card_titles">
              <h3 class="title-card-ex">6. You receive your data and give access and consent to Garmin</h3>
              <div class="label-card">Save on drive<br>
              </div>
            </div>
          </div>
          <div id="w-node-e372a546afdb-e2b64ee8" class="div-arrow color">
            <div class="div-block-1026-copy-copy">
              <div class="div-block-1031">
                <div class="div-block-1032"><img src="https://uploads-ssl.webflow.com/5d526d292ca59aed659476ed/5db9586c2067fac87889b2b9_back_ui.svg" height="15" alt="" class="image-9"></div>
                <div class="div-block-1030"></div>
              </div>
            </div>
            <div>
              <div class="text-block-10 right">You receive your data<br>
              </div>
            </div>
          </div>
          <div id="w-node-e372a546afe5-e2b64ee8" class="div-arrow color">
            <div class="div-block-1026-copy-copy">
              <div class="div-block-1031">
                <div class="div-block-1030"></div>
                <img src="https://uploads-ssl.webflow.com/5d526d292ca59aed659476ed/5db9586ce381b2ee78def31d_next_ui.svg" height="15" alt="" class="image-9"></div>
            </div>
            <div>
              <div class="text-block-10">You give authorization to access it<br>
                <br>
              </div>
            </div>
          </div>
        </div>
        <div class="div-block-1027">
          <a data-w-id="4aae5086-f2f0-3169-0717-47fcb606f616" href="#" class="button-small white-small bt-small w-inline-block">
            <div class="button-label">GET MY DATA with alias solution</div>
            <img src="../images/Icon.svg" width="20" alt="" class="button-arrow"></a>
        </div>
      </div>
    </div>
    <div>
      <div class="container padding-80 w-container">
        <div class="intro-uc mb-40">
          <div class="title-section">All your <strong>questions answered</strong></div>
        </div>
        <div class="faq03_full_wrap">
          <div class="faq_wrap">
            <h3 class="title-h3">How long does it take?</h3>
            <div class="faq03_line"></div>
            <p class="paragraph-alias">Usually it takes 3-5 days. But regulations allow up to 30 days for device and app companies to comply with the law. We help you to make the process faster.</p>
          </div>
          <div class="faq_wrap">
            <h3 class="title-h3">Does it erase data on my previous device?</h3>
            <div class="faq03_line"></div>
            <p class="paragraph-alias">It does not erase the data on your previous device. It is just a transfer of a copy of the data. You will keep the data on your previous app or device. If you want the data to be erased from the previous app/device you can do so, but it is your right to be forgotten. We can help you on that too.</p>
          </div>
          <div class="faq_wrap">
            <h3 class="title-h3">How much does it costs</h3>
            <div class="faq03_line"></div>
            <p class="paragraph-alias">Requesting your data to be transfer to another service is your right as part of the GDPR regulation, thus is free. Our platform keep this service for free for users to be sure it respect the intent of the law.</p>
          </div>
          <div class="faq_wrap">
            <h3 class="title-h3"> How do I receive my data?</h3>
            <div class="faq03_line"></div>
            <p class="paragraph-alias">2 solutions. Either you own a Google drive or Dropbox so you will be able to link it in your account and receive the data automatically. Either you can download the file you will receive from your provider and upload it on the platform.</p>
          </div>
          <div class="faq_wrap">
            <h3 class="title-h3">How my consent is guaranteed?</h3>
            <div class="faq03_line"></div>
            <p class="paragraph-alias">Your consent is guaranteed by ALIAS technology that makes GDPR regulation programmable. It enable to keep track of all your consents that have been given  and revoke them at any time from your account. </p>
          </div>
          <div class="faq_wrap">
            <h3 class="title-h3">How my privacy is guaranteed?</h3>
            <div class="faq03_line"></div>
            <p class="paragraph-alias">Your data is stored only where you want it to be stored. ALIAs platform does not store your data, it just process it to transfer it to your destination application or device company.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <script src="https://d3e54v103j8qbb.cloudfront.net/js/jquery-3.4.1.min.220afd743d.js" type="text/javascript" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
  <script src="../js/webflow.js" type="text/javascript"></script>
  <!-- [if lte IE 9]><script src="https://cdnjs.cloudflare.com/ajax/libs/placeholders/3.0.2/placeholders.min.js"></script><![endif] -->
</body>