<body class="body">
  <div class="custom-body">
    <div class="section intro-hero">
      <div class="container w-container">
        <div class="w-layout-grid hero6-grid">
          <div id="w-node-99aadc8bd6fb-452c8d4e" class="hero6-content">
            <div class="hero6-text">
              <div class="title-hero">Comment ça marche</div>
              <p class="paragraph-alias max">Alias ne vous aide pas seulement a exporter vos données. Il met à votre disposition un processus sécurisé et fonctionnel afin de profiter du potentiel de votre capital digital. Libérez son potentiel.</p>
            </div>
            <div class="button-small white-small w-inline-block">
              <a href="#how" class="button-label">UTILISEZ ALIAS ET RÉCUPEREZ VOS DONNÉES</a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div>
      <div class="container padding-80 w-container">
        <div id="how" class="grid-basic">
          <div id="w-node-902804fc80c3-452c8d4e" class="intro-left-wrap">
            <div class="text-label">SOLUTIONS SIMPLES A UTILISER</div>
            <div class="title-section">Solutions adaptées</div>
            <p class="paragraph-alias">Vous devez pour récuperer vos données les reclamer aux platformes qui les detiennent. Le problème est qu'il est souvent légalement difficile de le faire. C'est pourquoi Alias vous propose une solution qui peut etre adaptée à vos besoins selon chaue platforme. Ce qu'il vous reste ensuite à faire est d'envoyer votre demande et d'attendre vos données.</p>
          </div>
          <div id="w-node-e783c263b0ec-452c8d4e"><img src="/assets/HERO-IMG.svg" alt="" class="image-10"></div>
        </div>
        <div class="w-layout-grid grid-18">
          <div id="w-node-c54a2e900760-452c8d4e" class="case-card center both">
            <div class="fe02_card_titles">
              <div class="fe02_text-2 red">PLATFORME ALIAS<br>
              </div>
            </div>
          </div>
          <div id="w-node-c54a2e900765-452c8d4e" class="case-card center both">
            <div class="fe02_card_titles">
              <div class="fe02_text-2 red">ANCIENNE PLATFORME</div>
            </div>
          </div>
          <div id="w-node-c54a2e900769-452c8d4e" class="case-card center both">
            <div class="fe02_card_titles">
              <div class="fe02_text-2 red">NOUVELLE PLATFORME</div>
            </div>
          </div>
          <div id="w-node-c54a2e90076d-452c8d4e" class="case-card">
            <div class="fe02_card_titles">
              <h3 class="title-card-ex"><strong>2. </strong>Nous vous aidons à faire votre demande GDPR<br>
              </h3>
              <div class="label-card">assistance </div>
            </div>
          </div>
          <div id="w-node-c54a2e900776-452c8d4e" class="case-card">
            <div class="fe02_card_titles">
              <h3 class="title-card-ex"><strong>1. </strong>Vous vous inscrivez à ALIAS</h3>
              <div class="label-card">Bienvenue à alias</div>
            </div>
          </div>
          <div id="w-node-c54a2e90077e-452c8d4e" class="case-card">
            <div class="fe02_card_titles">
              <h3 class="title-card-ex"><strong>4. </strong>La platforme reçoit votre demande et prépare vos données </h3>
              <div class="label-card">service juridique</div>
            </div>
          </div>
          <div id="w-node-c54a2e900786-452c8d4e" class="case-card">
            <div class="fe02_card_titles">
              <h3 class="title-card-ex"><strong>7. </strong>Envoyez les à une autre platfomre pour synchroniser votre nouvel appareil.</h3>
              <div class="label-card">VOS DONNÉES</div>
            </div>
          </div>
          <div id="w-node-c54a2e90078d-452c8d4e" class="case-card">
            <div class="fe02_card_titles">
              <h3 class="title-card-ex"><strong>5.</strong> La plateforme envoie vos données</h3>
              <div class="label-card">Base de données</div>
            </div>
          </div>
          <div id="w-node-c54a2e900795-452c8d4e" class="case-card">
            <div class="fe02_card_titles">
              <h3 class="title-card-ex"><strong>3. </strong>Vous recevez un email pret à etre renvoyé au service juridique de Fitbit<br>
              </h3>
              <div class="label-card">pret à envoyer</div>
            </div>
          </div>
          <div id="w-node-c54a2e90079f-452c8d4e" class="div-arrow">
            <div class="div-block-1026-copy-copy">
              <div class="div-block-1031 _50"><img src="images/arrow.png" srcset="images/arrow-p-500.png 500w, images/arrow.png 723w" sizes="(max-width: 991px) 100vw, 470px" alt=""></div>
            </div>
            <div class="div-block-1026-copy-copy">
              <div class="div-block-1031">
                <div class="div-block-1030"></div>
                <img src="https://uploads-ssl.webflow.com/5d526d292ca59aed659476ed/5db9586ce381b2ee78def31d_next_ui.svg" height="15" alt="" class="image-9"></div>
            </div>
            <div>
              <div class="text-block-10">Vous envoyez l'email pré-géneré (1clic)</div>
            </div>
          </div>
          <div id="w-node-c54a2e9007aa-452c8d4e" class="case-card">
            <div class="fe02_card_titles">
              <h3 class="title-card-ex"><strong>6. </strong>Vous recevez vos données et en donnez l'accès et le consentement</h3>
              <div class="label-card">Sauvegardez</div>
            </div>
          </div>
          <div id="w-node-c54a2e9007b2-452c8d4e" class="div-arrow">
            <div class="div-block-1026-copy-copy">
              <div class="div-block-1031">
                <div class="div-block-1032"><img src="https://uploads-ssl.webflow.com/5d526d292ca59aed659476ed/5db9586c2067fac87889b2b9_back_ui.svg" height="15" alt="" class="image-9"></div>
                <div class="div-block-1030"></div>
              </div>
            </div>
            <div>
              <div class="text-block-10 right">Vous recevez vos données<br>
              </div>
            </div>
          </div>
          <div id="w-node-c54a2e9007bc-452c8d4e" class="div-arrow">
            <div class="div-block-1026-copy-copy">
              <div class="div-block-1031">
                <div class="div-block-1030"></div>
                <img src="https://uploads-ssl.webflow.com/5d526d292ca59aed659476ed/5db9586ce381b2ee78def31d_next_ui.svg" height="15" alt="" class="image-9"></div>
            </div>
            <div>
              <div class="text-block-10">Vous en autorisez l'accès<br>
                <br>
              </div>
            </div>
          </div>
        </div>
        <div class="div-block-1027">
          <a data-w-id="fc25bec6-5250-c1c2-d58f-6085c72ea6f0" href="#" class="button-small white-small bt-small w-inline-block">
            <div class="button-label">Obtenir mes donnéesBIENTOT DISPONIBLE</div>
            <img src="images/Icon.svg" width="20" alt="" class="button-arrow"></a>
        </div>
      </div>
    </div>
    <div>
      <div class="container padding-80 w-container">
        <div class="w-layout-grid grid-16">
          <div class="app-card-01"><img src="https://uploads-ssl.webflow.com/5d526d292ca59aed659476ed/5d76c31e2b83852f6af06899_Facebook-color.svg" width="55" alt="" class="icon-case">
            <div class="fe02_card_titles">
              <h5 class="title-card-ex">Facebook</h5>
              <div class="label-card">COMING SOON</div>
            </div>
          </div>
          <div class="app-card-01"><img src="https://uploads-ssl.webflow.com/5d526d292ca59aed659476ed/5d76c31eb9339d654d269b1a_Twitter-color.svg" alt="" class="icon-case">
            <div class="fe02_card_titles">
              <h3 class="title-card-ex">Twitter</h3>
              <div class="label-card">BIENTOT DISPONIBLE</div>
            </div>
          </div>
          <div class="app-card-01"><img src="https://uploads-ssl.webflow.com/5d526d292ca59aed659476ed/5d76c323344fac173c0838f4_Instagram-color.svg" alt="" class="icon-case">
            <div class="fe02_card_titles">
              <h3 class="title-card-ex">Instagram</h3>
              <div class="label-card">BIENTOT DISPONIBLE</div>
            </div>
          </div>
          <div class="app-card-01"><img src="https://uploads-ssl.webflow.com/5d526d292ca59aed659476ed/5d76c31d2b8385593ef06897_Snapchat-color.svg" alt="" class="icon-case">
            <div class="fe02_card_titles">
              <h3 class="title-card-ex">Snapchat</h3>
              <div class="label-card">BIENTOT DISPONIBLE</div>
            </div>
          </div>
          <div class="app-card-01"><img src="https://uploads-ssl.webflow.com/5d526d292ca59aed659476ed/5d76c3d58d6d917a32810ed8_Pinterest-color.svg" width="55" alt="" class="icon-case">
            <div class="fe02_card_titles">
              <h5 class="title-card-ex">Pinterest</h5>
              <div class="label-card">BIENTOT DISPONIBLE</div>
            </div>
          </div>
          <div class="app-card-01"><img src="https://uploads-ssl.webflow.com/5d526d292ca59aed659476ed/5d76c31e5b3233fad9838861_LinkedIn-color.svg" alt="" class="icon-case">
            <div class="fe02_card_titles">
              <h3 class="title-card-ex">Linkedin</h3>
              <div class="label-card">BIENTOT DISPONIBLE</div>
            </div>
          </div>
          <div class="app-card-01"><img src="https://uploads-ssl.webflow.com/5d526d292ca59aed659476ed/5d76c31d2b83856370f06898_Youtube-color.svg" alt="" class="icon-case">
            <div class="fe02_card_titles">
              <h3 class="title-card-ex">Youtube</h3>
              <div class="label-card">BIENTOT DISPONIBLE</div>
            </div>
          </div>
          <div class="app-card-01"><img src="https://uploads-ssl.webflow.com/5d526d292ca59aed659476ed/5d76c320247be156053b7272_Google-color.svg" alt="" class="icon-case">
            <div class="fe02_card_titles">
              <h3 class="title-card-ex">Google</h3>
              <div class="label-card">BIENTOT DISPONIBLE</div>
            </div>
          </div>
          <div class="app-card-01"><img src="https://uploads-ssl.webflow.com/5d68f74b5d863299418e9858/5d68f74b5d863241e58e9a8a_forest_slack_mark.svg" alt="" class="icon-case">
            <div class="fe02_card_titles">
              <h5 class="title-card-ex">Slack</h5>
              <div class="label-card">BIENTOT DISPONIBLE</div>
            </div>
          </div>
          <div class="app-card-01"><img src="https://uploads-ssl.webflow.com/5d526d292ca59aed659476ed/5d76c31f344fac7a320838dc_Amazon-color.svg" alt="" class="icon-case">
            <div class="fe02_card_titles">
              <h3 class="title-card-ex">Amazon</h3>
              <div class="label-card">BIENTOT DISPONIBLE</div>
            </div>
          </div>
          <div class="app-card-01"><img src="https://uploads-ssl.webflow.com/5d526d292ca59aed659476ed/5d76c31e5b3233520a838862_Spotify-color.svg" alt="" class="icon-case">
            <div class="fe02_card_titles">
              <h3 class="title-card-ex">Spotify</h3>
              <div class="label-card">BIENTOT DISPONIBLE</div>
            </div>
          </div>
          <div class="app-card-01"><img src="https://uploads-ssl.webflow.com/5d526d292ca59aed659476ed/5d76c31f2b83857193f0689c_Tinder-color.svg" width="55" alt="" class="icon-case">
            <div class="fe02_card_titles">
              <h5 class="title-card-ex">Tinder</h5>
              <div class="label-card">BIENTOT DISPONIBLE</div>
            </div>
          </div>
          <div class="app-card-01"><img src="https://uploads-ssl.webflow.com/5d526d292ca59aed659476ed/5d76c31fb9339de1e5269b23_Paypal-color.svg" alt="" class="icon-case">
            <div class="fe02_card_titles">
              <h3 class="title-card-ex">Paypal</h3>
              <div class="label-card">BIENTOT DISPONIBLE</div>
            </div>
          </div>
          <div class="app-card-01"><img src="https://uploads-ssl.webflow.com/5d526d292ca59aed659476ed/5d76c31f8d6d9179ce8108eb_Messenger-color.svg" alt="" class="icon-case">
            <div class="fe02_card_titles">
              <h3 class="title-card-ex">Messenger</h3>
              <div class="label-card">BIENTOT DISPONIBLE</div>
            </div>
          </div>
          <div class="app-card-01"><img src="images/download-2.png" width="55" alt="" class="icon-case">
            <div class="fe02_card_titles">
              <h5 class="title-card-ex">Fitbit</h5>
              <div class="label-card">DISPONIBLE</div>
            </div>
          </div>
          <div class="app-card-01"><img src="images/download-3.png" alt="" class="icon-case">
            <div class="fe02_card_titles">
              <h3 class="title-card-ex">Garmin</h3>
              <div class="label-card">DISPONIBLE</div>
            </div>
          </div>
          <div class="app-card-01"><img src="images/download-4.png" alt="" class="icon-case">
            <div class="fe02_card_titles">
              <h3 class="title-card-ex">Huawei Band</h3>
              <div class="label-card">DISPONIBLE</div>
            </div>
          </div>
          <div class="app-card-01"><img src="images/download-5.png" alt="" class="icon-case">
            <div class="fe02_card_titles">
              <h3 class="title-card-ex">Xiaomi MI band</h3>
              <div class="label-card">DISPONIBLE</div>
            </div>
          </div>
          <div class="app-card-01"><img src="images/download.jpeg" width="55" alt="" class="icon-case">
            <div class="fe02_card_titles">
              <h5 class="title-card-ex">Samsung Gear Fit</h5>
              <div class="label-card">DISPONIBLE</div>
            </div>
          </div>
          <div class="app-card-01"><img src="images/download-6.png" alt="" class="icon-case">
            <div class="fe02_card_titles">
              <h3 class="title-card-ex">Moov Now</h3>
              <div class="label-card">BIENTOT DISPONIBLE</div>
            </div>
          </div>
          <div class="app-card-01"><img src="images/download-7.png" alt="" class="icon-case">
            <div class="fe02_card_titles">
              <h3 class="title-card-ex">Misfit</h3>
              <div class="label-card">BIENTOT DISPONIBLE</div>
            </div>
          </div>
          <div class="app-card-01"><img src="images/download-8.png" alt="" class="icon-case">
            <div class="fe02_card_titles">
              <h3 class="title-card-ex">Fossil Sport</h3>
              <div class="label-card">BIENTOT DISPONIBLE</div>
            </div>
          </div>
          <div class="app-card-01"><img src="images/images-1.png" alt="" class="icon-case">
            <div class="fe02_card_titles">
              <h5 class="title-card-ex">Toobur</h5>
              <div class="label-card">BIENTOT DISPONIBLE</div>
            </div>
          </div>
          <div class="app-card-01"><img src="images/download-9.png" alt="" class="icon-case">
            <div class="fe02_card_titles">
              <h3 class="title-card-ex">LG</h3>
              <div class="label-card">BIENTOT DISPONIBLE</div>
            </div>
          </div>
          <div class="app-card-01"><img src="https://uploads-ssl.webflow.com/5d526d292ca59aed659476ed/5d76c3e78d6d912b0d810f4f_Apple.svg" alt="" class="icon-case">
            <div class="fe02_card_titles">
              <h3 class="title-card-ex">Apple Watch</h3>
              <div class="label-card">DISPONIBLE</div>
            </div>
          </div>
          <div class="app-card-01"><img src="images/download-10.png" alt="" class="icon-case">
            <div class="fe02_card_titles">
              <h3 class="title-card-ex">Amazfit Bip</h3>
              <div class="label-card">BIENTOT DISPONIBLE</div>
            </div>
          </div>
          <div class="app-card-01"><img src="images/download-11.png" width="55" alt="" class="icon-case">
            <div class="fe02_card_titles">
              <h5 class="title-card-ex">Omron</h5>
              <div class="label-card">BIENTOT DISPONIBLE</div>
            </div>
          </div>
          <div class="app-card-01"><img src="https://uploads-ssl.webflow.com/5d526d292ca59aed659476ed/5db6cc6632df59772269b967_google-wear-os.svg" alt="" class="icon-case">
            <div class="fe02_card_titles">
              <h3 class="title-card-ex">Google wear</h3>
              <div class="label-card">DISPONIBLE</div>
            </div>
          </div>
          <div class="app-card-01"><img src="images/og-healthmate.jpg" srcset="images/og-healthmate-p-500.jpeg 500w, images/og-healthmate-p-800.jpeg 800w, images/og-healthmate-p-1080.jpeg 1080w, images/og-healthmate.jpg 1200w" sizes="40px" alt="" class="icon-case">
            <div class="fe02_card_titles">
              <h3 class="title-card-ex">Withings Activite</h3>
              <div class="label-card">BIENTOT DISPONIBLE</div>
            </div>
          </div>
          <div class="app-card-01"><img src="images/download-13.png" width="55" alt="" class="icon-case">
            <div class="fe02_card_titles">
              <h5 class="title-card-ex">Wahoo Tickr</h5>
              <div class="label-card">BIENTOT DISPONIBLE</div>
            </div>
          </div>
          <div class="app-card-01"><img src="images/download-14.png" alt="" class="icon-case">
            <div class="fe02_card_titles">
              <h3 class="title-card-ex">Scosche Rhythm+</h3>
              <div class="label-card">BIENTOT DISPONIBLE</div>
            </div>
          </div>
          <div class="app-card-01"><img src="images/download-4.jpeg" alt="" class="icon-case">
            <div class="fe02_card_titles">
              <h3 class="title-card-ex">Ok Google</h3>
              <div class="label-card">DISPONIBLE</div>
            </div>
          </div>
          <div class="app-card-01"><img src="https://uploads-ssl.webflow.com/5d526d292ca59aed659476ed/5d76b3782b8385e0f9effb80_plus.svg" alt="" class="icon-case">
            <div class="fe02_card_titles">
              <h3 class="title-card-ex">Et d'autres</h3>
              <div class="label-card">DEMANDEZ NOUS</div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <script src="https://d3e54v103j8qbb.cloudfront.net/js/jquery-3.4.1.min.220afd743d.js" type="text/javascript" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
    <script src="js/webflow.js" type="text/javascript"></script>
    <!-- [if lte IE 9]><script src="https://cdnjs.cloudflare.com/ajax/libs/placeholders/3.0.2/placeholders.min.js"></script><![endif] -->
  </body>
</html>