<html data-wf-page="5dd163301e22cb34edabcf65" data-wf-site="5dd02051c5a7ed2bee543746">
  <body class="body">
    <div class="custom-body">
      <div class="section hero">
        <div class="container w-container">
          <div class="w-layout-grid hero-1">
            <div id="w-node-d2113197e2f9-edabcf65" class="hero-1-left">
              <div class="txt-hero-1">
                <div class="title-hero">Welcome back</div>
                <p class="paragraph-alias max-hero">Your personal data is your digital capital, but today they are locked into many platforms. Alias wallet helps you import all your personal data, protect them, visualize them, manage them and monetize them to unlock all their value.</p>
              </div>
              <a data-w-id="d75b698c-4d8e-0da8-8579-d2113197e2ff" href="use-cases.html" class="button-small white-small w-inline-block">
                <div class="button-label">EXPLORE OUR USE CASES</div>
                <img src="images/chevron_right.svg" alt="" class="button-arrow"></a>
            </div>
            <div class="hero-2-right">
              <div class="card-container-login padding-in-25 shadow r-9">
                <div class="div-google-sign">
                  <h2 class="heading-12"><strong>Login</strong></h2>
                  <p class="m-b-20-2">Sign in to your account to continue.</p>
                  <div class="w-layout-grid grid-5 m-b-40"><a href="#" id="w-node-696df0a43de6-edabcf65" class="bt-main big-bt w-button">Connect with google</a></div>
                </div>
                <div class="w-form">
                  <form id="email-form" name="email-form" data-name="Email Form">
                    <div class="div-field m-b-20">
                      <p class="field-label"><strong>Email address</strong></p>
                      <input type="text" class="text-field-3 w-input" maxlength="256" name="Email-Address-2" data-name="Email Address 2" placeholder="Email Address" data-toggle="date" id="Email-Address-2" required=""></div>
                    <div class="div-field m-b-20">
                      <p class="field-label"><strong>Password</strong></p>
                      <input type="password" class="text-field-3 w-input" maxlength="256" name="Password-2" data-name="Password 2" placeholder="**********" data-toggle="date" id="Password-2" required=""></div>
                    <a href="#" class="button_p-2 w-button">LOGIN</a>
                    <div class="div-block-1018"><a href="#" class="link-4">Lost password ? </a><a href="index.html" data-w-id="eb70a081-bd1d-96fe-80c7-696df0a43df9" class="link-3">Not register ? Create an account</a></div>
                  </form>
                  <div class="w-form-done">
                    <div>Thank you! Your submission has been received!</div>
                  </div>
                  <div class="w-form-fail">
                    <div>Oops! Something went wrong while submitting the form.</div>
                  </div>
                </div>
              </div>
              <div class="card-container-register padding-in-25 shadow r-10">
                <div class="div-google-sign">
                  <h2 class="heading-12"><strong>Create account</strong></h2>
                  <p class="m-b-20-2"> </p>
                  <div class="w-layout-grid grid-5 m-b-40"><a href="#" id="w-node-696df0a43e09-edabcf65" class="bt-main big-bt w-button">Register with Google </a></div>
                </div>
                <div class="w-form">
                  <form id="email-form" name="email-form" data-name="Email Form">
                    <div class="div-field m-b-20">
                      <p class="field-label"><strong>Email address</strong></p>
                      <input type="text" class="text-field-3 w-input" maxlength="256" name="Email-Address-3" data-name="Email Address 3" placeholder="Email Address" data-toggle="date" id="Email-Address-3" required=""></div>
                    <div class="div-block-1021">
                      <div class="div-field m-b-20">
                        <p class="field-label"><strong>Password</strong></p>
                        <input type="password" class="text-field-3 w-input" maxlength="256" name="Password-4" data-name="Password 4" placeholder="**********" data-toggle="date" id="Password-4" required=""></div>
                      <div class="div-field m-b-20">
                        <p class="field-label"><strong>Confirm password</strong></p>
                        <input type="password" class="text-field-3 w-input" maxlength="256" name="Password-2" data-name="Password 2" placeholder="**********" data-toggle="date" id="Password-2" required=""></div>
                    </div>
                    <div class="div-block-1022"><label class="w-checkbox checkbox-field-2"><input type="checkbox" id="checkbox-3" name="checkbox-3" data-name="Checkbox 3" class="w-checkbox-input"><span class="w-form-label">I agree to the <a href="#" class="link-3">terms and conditions</a></span></label><label class="w-checkbox checkbox-field-2"><input type="checkbox" id="checkbox-2" name="checkbox-2" data-name="Checkbox 2" class="w-checkbox-input"><span class="w-form-label">I agree to the <a href="#" class="link-3">privacy policy</a></span></label></div>
                    <a href="#" class="button_p-2 w-button">CREATE MY ACCOUNT</a>
                    <div class="div-block-1018-copy"><a href="#" data-w-id="eb70a081-bd1d-96fe-80c7-696df0a43e2d" class="link-3">Already have an acocunt? <strong>Sign in</strong></a></div>
                  </form>
                  <div class="w-form-done">
                    <div>Thank you! Your submission has been received!</div>
                  </div>
                  <div class="w-form-fail">
                    <div>Oops! Something went wrong while submitting the form.</div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <script src="https://d3e54v103j8qbb.cloudfront.net/js/jquery-3.4.1.min.220afd743d.js" type="text/javascript" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
    <script src="js/webflow.js" type="text/javascript"></script>
    <!-- [if lte IE 9]><script src="https://cdnjs.cloudflare.com/ajax/libs/placeholders/3.0.2/placeholders.min.js"></script><![endif] -->
  </body>
</html>