<html>
    <head>
        <script
          src="https://code.jquery.com/jquery-3.4.1.min.js"
          integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
          crossorigin="anonymous"></script>
        <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
    </head>

    <body>
        <h1>Hello, World! :-)</h1>
        <button id="agree">I agree</button>
        <button id="deny">I deny</button>
        <script>
            $(() => {
                $("#agree").on('click', () => {
                    swal("Good job!", "You clicked the button!", "success");
                });
                $("#deny").on('click', () => {
                    swal("Oops!", "You clicked the button!", "error");
                });
            });
        </script>
    </body>
</html>
