<html>
  <body class="body-2">
    <div class="body-container">
      <div class="left-body-container">
        <div id="login">
          <h2 class="heading-5">Login</h2>
          <form>
            <input
              type="text"
              class="text-field"
              placeholder="Username"
              style="width: 100%;
margin: 15px 0 15px 0;">
            </input>
            <input
              type="password"
              class="text-field"
              placeholder="Your password"
              style="width: 100%;
margin: 15px 0 15px 0;">
            </input>
            <button class="button secondary full-width">Login</button>
          </form>
        </div>
        <div id="create_account">
          <h2 class="heading-5">Sign up</h2>
          <form>
            <input
              type="text"
              id="create_account_username"
              class="text-field"
              placeholder="Username"
              style="width: 100%;
margin: 15px 0 15px 0;">
            </input>
            <input
              type="text"
              id="create_account_email"
              class="text-field"
              placeholder="Email"
              style="width: 100%;
margin: 15px 0 15px 0;">
            </input>
            <input
              type="password"
              class="text-field"
              placeholder="A strong password..."
              style="width: 100%;
margin: 15px 0 15px 0;">
            </input>
            <button class="button secondary full-width">Sign up</button>
          </form>
        </div>
      </div>
      <div class="right-body-container">
      </div>
    </div>
  </body>
  <script type="application/javascript" src="index.js"></script>
</html>