<body>
  <div class="custom-body">
    <div class="hero-log pink">
      <div class="w-container">
        <div class="hero-usecase--text-left"><img src="../images/watchs-log.svg" height="30" alt="" class="image-11">
          <div class="sizejumbo-text sizejumbo-top-clear usecase-title"><strong>GET YOUR ACTIVITY DATA BACK. AVOID LOCK-IN</strong></div>
          <div class="lnd_details">Looking for something get your datas? <a href="https://forest-kit.webflow.io/#LND_started" class="lnd_heading_link">Read the instruction</a></div>
          <div class="fe03_container">
            <div class="fe03_card">
              <h3 class="title-h3">💾 1. Where to import?</h3>
              <p class="paragraph-alias">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
            </div>
            <div class="fe03_card">
              <h3 class="title-h3">🔌 2. Select your application</h3>
              <p class="paragraph-alias">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
            </div>
            <div class="fe03_card">
              <h3 class="title-h3">📬 3. Receive the email</h3>
              <p class="paragraph-alias">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
            </div>
            <div class="fe03_card">
              <h3 class="title-h3">🥰 4. Access to your data</h3>
              <p class="paragraph-alias">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div>
      <div class="container padding-40 pt-80 w-container">
        <div class="cta07_main_wrap">
          <h3>1. Log in where you want to upload your data</h3>
          <p class="paragraph-alias">Please choose your preferred service to store your data.</p>
        </div>
        <div class="cta07_button_wrap"><a href="#" class="import-bt pink w-button">LOCAL</a><a href="#" class="import-bt-drive pink w-button">DROPBOX</a><a href="#" class="import-bt-drive pink w-button">GOOGLE DRIVE</a></div>
      </div>
    </div>
    <div>
      <div class="container padding-40 w-container">
        <div class="form-block-2 w-form">
          <div class="cta07_main_wrap">
            <h3>2. Select the application where you want to retrieve your data</h3>
            <p class="fe03_text">Please choose your favorite service to stock your data. </p>
          </div>
          <form id="email-form" name="email-form" data-name="Email Form" method="post" class="app-card-01-copy-copy">
            <div id="w-node-2301bc58caf5-dcf3983c" class="div-field">
              <p class="field-label liner pink"><strong>from</strong></p>
              <select id="field-2" name="field-2" data-name="Field 2" class="select-field pink w-select"><option value="Select your last App.">Select your last App.</option><option value="Fitbit">Fitbit</option><option value="Apple Watch">Apple Watch</option><option value="Garmin">Garmin</option><option value="Huawei Band">Huawei Band</option><option value="Xiaomi MI band">Xiaomi MI band</option><option value="Samsung Gear Fit">Samsung Gear Fit</option><option value="Moov Now">Moov Now</option><option value="Misfit">Misfit</option><option value="Fossil Sport">Fossil Sport</option><option value="Toobur">Toobur</option><option value="LG">LG</option><option value="Amazfit Bip">Amazfit Bip</option><option value="Omron">Omron</option><option value="Google wear">Google wear</option><option value="Withings Activite">Withings Activite</option><option value="Wahoo Tickr">Wahoo Tickr</option><option value="Scosche Rhythm+">Scosche Rhythm+</option></select></div>
            <div id="w-node-2301bc58cafa-dcf3983c" class="colorize-pink"><img src="https://uploads-ssl.webflow.com/5d526d292ca59aed659476ed/5db945a0e381b2d478de84e9_Path%202.svg" height="12" alt=""></div>
            <div id="w-node-2301bc58cafc-dcf3983c" class="div-field">
              <p class="field-label liner pink"><strong>To</strong></p>
              <select id="field-2" name="field-2" data-name="Field 2" class="select-field pink w-select"><option value="Select your new App.">Select your new App.</option><option value="Fitbit">Fitbit</option><option value="Apple Watch">Apple Watch</option><option value="Garmin">Garmin</option><option value="Huawei Band">Huawei Band</option><option value="Xiaomi MI band">Xiaomi MI band</option><option value="Samsung Gear Fit">Samsung Gear Fit</option><option value="Moov Now">Moov Now</option><option value="Misfit">Misfit</option><option value="Fossil Sport">Fossil Sport</option><option value="Toobur">Toobur</option><option value="LG">LG</option><option value="Amazfit Bip">Amazfit Bip</option><option value="Omron">Omron</option><option value="Google wear">Google wear</option><option value="Withings Activite">Withings Activite</option><option value="Wahoo Tickr">Wahoo Tickr</option><option value="Scosche Rhythm+">Scosche Rhythm+</option></select></div>
          </form>
          <div class="success-message w-form-done">
            <h3 class="title">3. Get your email and send it to your ex brand 💪🏼</h3>
            <p class="fe03_text">You will receive an email, follow the instructions to recover your data</p>
          </div>
          <div class="error-message w-form-fail">
            <div>Please try again </div>
          </div>
        </div>
      </div>
    </div>
    <div>
      <div class="container padding-40 w-container">
        <div class="form-access w-form">
          <div class="cta07_main_wrap">
            <h3>3. Please enter your identity</h3>
            <p class="fe03_text">Please choose your preferred service to store your data.</p>
          </div>
          <form id="email-form" name="email-form" data-name="Email Form" method="post" class="card-block-single padding align">
            <div class="div-field">
              <p class="field-label"><strong>Prénom</strong></p>
              <input type="text" class="text-field-3 w-input" maxlength="256" name="First-name-2" data-name="First Name 2" placeholder="Prénom" data-toggle="date" id="First-name-2" required=""></div>
            <div id="w-node-c47fa15eddb2-dcf3983c" class="div-field">
              <p class="field-label"><strong>Nom de famille</strong></p>
              <input type="text" class="text-field-3 w-input" maxlength="256" name="Last-name-2" data-name="Last Name 2" placeholder="Nom de famille" data-toggle="date" id="Last-name-2" required=""></div>
            <div id="w-node-c47fa15eddb7-dcf3983c" class="div-field">
              <p class="field-label"><strong>Utilisation de l&#x27;email sur votre application en cours d&#x27;exécution</strong></p>
              <input type="email" class="text-field-3 w-input" maxlength="256" name="Email-Address-2" data-name="Email Address 2" placeholder="Adresse de courriel" data-toggle="date" id="Email-Address-2" required=""></div>
            <a id="w-node-c47fa15eddbc-dcf3983c" href="#" class="cta07_button-copy pink w-button">Importer le verso de <br>
              ma carte d&#x27;identité</a></form>
          <div class="success-message w-form-done">
            <h3 class="title">3. Get your email and send it to your ex brand 💪🏼</h3>
            <p class="fe03_text">You will receive an email, follow the instructions to recover your data</p>
          </div>
          <div class="error-message w-form-fail">
            <div>Please try again </div>
          </div>
        </div>
      </div>
    </div>
    <div>
      <div class="container padding-40 w-container">
        <div class="form-access w-form">
          <div class="cta07_main_wrap">
            <h3>4. Validate your request</h3>
            <p class="fe03_text">Please choose your preferred service to store your data.</p>
          </div>
          <form id="email-form" name="email-form" data-name="Email Form" method="post" class="card-block-single padding"><input type="submit" value="Obtenir mes données 💪🏼" data-wait="Please wait..." id="w-node-fdcb0cd79aaa-dcf3983c" class="bt-data-copy noline pink w-button"></form>
          <div class="success-message w-form-done">
            <h3 class="title">3. Get your email and send it to your ex brand 💪🏼</h3>
            <p class="fe03_text">You will receive an email, follow the instructions to recover your data</p>
          </div>
          <div class="error-message w-form-fail">
            <div>Please try again </div>
          </div>
        </div>
      </div>
    </div>
    <div class="section-large---inner pink">
      <div class="cta01_bar">
        <div class="cta01_text_wrap">
          <div class="cta01_text">Regardez votre boîte email et ouvrez notre email pour la réception de vos données.</div>
        </div>
      </div>
      <div class="cta01_container">
        <h2 class="cta01_h2-2">Ouvrir mon application de messagerie</h2>
        <div class="div-img-tab"><a href="https://mail.google.com/mail/u/0/" target="_blank" class="bt-mail w-button">Gmail </a><a href="https://outlook.live.com/" target="_blank" class="bt-mail w-button">HOTMAIL</a><a href="https://login.yahoo.com" target="_blank" class="bt-mail w-button">Yahoo</a></div>
      </div>
    </div>
  </div>
  <script src="https://d3e54v103j8qbb.cloudfront.net/js/jquery-3.4.1.min.220afd743d.js" type="text/javascript" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
  <script src="../js/webflow.js" type="text/javascript"></script>
  <!-- [if lte IE 9]><script src="https://cdnjs.cloudflare.com/ajax/libs/placeholders/3.0.2/placeholders.min.js"></script><![endif] -->
</body>
</html>