<body class="body">
  <div class="custom-body">
    <div class="section intro-hero-2">
      <div class="container w-container">
        <div class="w-layout-grid hero6-grid">
          <div id="w-node-762838a6c782-b1edf646" class="hero6-content">
            <div class="hero6-text">
              <div class="sizejumbo-text sizejumbo-top-clear">NOS SOLUTIONS</div>
              <p class="paragraph-alias max">Solutions adaptées pour les utilisateurs mais aussi pour la recherche ou les startups. Nous collaborons pour l'evolution de la donnée, dans la transparence et leur respect.</p>
            </div>
            <div class="">
              <a href="/login/?redirect=/transfert/" class="black-link btn-cta opacity-light" style="display: flex;">
                <div class="button-small white-small w-inline-block" style=" margin-right: 15px;">
                  <p style="margin-bottom: 0px;">UTILISEZ ALIAS ET RECUPEREZ VOS DONNÉES</p>
                  <%= image_tag("chevron_right.svg", class: "button-arrow") %>
                </div>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div>
      <div class="container padding-80 w-container">
        <div class="grid-basic">
          <div id="w-node-762838a6c78f-b1edf646" class="intro-left-wrap">
            <div class="text-label">SOLUTIONS SIMPLES A UTILISER</div>
            <div class="title-section">Solutions adaptées</div>
            <p class="paragraph-alias">
              Vous devez pour récuperer vos données les reclamer aux platformes qui les detiennent. Le problème est qu'il est souvent légalement difficile de le faire. C'est pourquoi Alias vous propose une solution qui peut etre adaptée à vos besoins selon chaue platforme. Ce qu'il vous reste ensuite à faire est d'envoyer votre demande et d'attendre vos données.</p>
          </div>
          <div id="w-node-762838a6c796-b1edf646">
            <%= image_tag("undraw_social_dashboard_k3pt.svg", class: "image-10") %>
          </div>
        </div>
      </div>
    </div>
    <div>
      <div id="solutions" class="w-container">
        <div class="use-case-grid">
          <div class="partner-card">
            <div class="partner-card-img"></div>
            <div class="partner-card-text-zone">
              <div class="text-label">RECHERCHE FRANCAISE</div>
              <div class="title-h3">LE Voicelab</div>
              <p class="paragraph-alias">
                Contribuez à l'amélioration de la recherche sur l'intelligence en langue française en partageant vos données avec le VOICELAB.La donnée voix de votre Google Home et autres assistants personnels est précieuse. Réclamez une copie de ces données grace a votre droit a la protabilité (RGPD) et ontribuez à l'ecosystème français de la teh ologie de la voix.</p>
              <div class="uc_link_block w-inline-block">
                <%= link_to 'PARTICIPEZ A LA RECERCHE SUR LA VOIX', root_path, class: "uc_link" %>
              </div>
            </div>
          </div>
          <div class="partner-card">
            <div class="partner-card-img p2"></div>
            <div class="partner-card-text-zone">
              <div class="text-label">TRANSFERT</div>
              <div class="title-h3">VOS DONNÉES DE VOTRE MONTRE CONNECTÉE</div>
              <p class="paragraph-alias">
                Vous avez passé des heures a collecter différentes données sur votre activité physique mais celle-ci est retenue par l'ancien service que vous utilisiez. La nouvelle reglementation (GDPR) vous permet aujourd'hui de la récuperer et de la transférer à votre nouveau service et donc de garder une trace de votre hsitorique et de vos performaces sans efforts.</p>
              <div class="uc_link_block w-inline-block">
                <%= link_to 'TRANSFERT DE MA DONNÉE', tracking_path, class: "uc_link" %>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <script src="https://d3e54v103j8qbb.cloudfront.net/js/jquery-3.4.1.min.220afd743d.js" type="application/javascript" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
  <script src="/assets/webflow.js" type="application/javascript"></script>
  <!-- [if lte IE 9]><script src="https://cdnjs.cloudflare.com/ajax/libs/placeholders/3.0.2/placeholders.min.js"></script><![endif] -->
</body>
</html>