.btn {
  width: 175px;
  height: 75px;
  margin: 0px 50px 0px 0px;
  padding: 9px 15px;
  background-color: lightgrey;
  box-shadow: 0 0 5px;
  color: #0055FF;
  border-radius: 5px;
}
.icons8-google-drive {
  display: inline-block;
  width: 50px;
  height: 50px;
  background: url('data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHg9IjBweCIgeT0iMHB4Igp3aWR0aD0iNDgiIGhlaWdodD0iNDgiCnZpZXdCb3g9IjAgMCA0OCA0OCIKc3R5bGU9IiBmaWxsOiMwMDAwMDA7Ij48cGF0aCBmaWxsPSIjRkZDMTA3IiBkPSJNMTcgNkwzMSA2IDQ1IDMwIDMxIDMweiI+PC9wYXRoPjxwYXRoIGZpbGw9IiMxOTc2RDIiIGQ9Ik05Ljg3NSA0MkwxNi45MzggMzAgNDUgMzAgMzggNDJ6Ij48L3BhdGg+PHBhdGggZmlsbD0iIzRDQUY1MCIgZD0iTTMgMzAuMTI1TDkuODc1IDQyIDI0IDE4IDE3IDZ6Ij48L3BhdGg+PC9zdmc+') 50% 50% no-repeat;
  background-size: 100%;
}
.icons8-dropbox {
  display: inline-block;
  width: 50px;
  height: 50px;
  background: url('data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHg9IjBweCIgeT0iMHB4Igp3aWR0aD0iNDgiIGhlaWdodD0iNDgiCnZpZXdCb3g9IjAgMCA0OCA0OCIKc3R5bGU9IiBmaWxsOiMwMDAwMDA7Ij48cGF0aCBmaWxsPSIjMUU4OEU1IiBkPSJNNDIgMTMuOTc2TDMxLjM3NyA3LjI1NSAyNCAxMy4zMTQgMzUuMDI2IDE5LjczMnpNNiAyNS42NDdMMTYuOTMzIDMyLjA1NSAyNCAyNi42MzMgMTMuNTI4IDE5Ljk2OXpNMTYuOTMzIDcuMjU1TDYgMTQuMzAxIDEzLjUyOCAxOS45NjkgMjQgMTMuMzE0ek0yNCAyNi42MzNMMzEuMjA5IDMyLjA1NSA0MiAyNS42NDcgMzUuMDI2IDE5LjczMnoiPjwvcGF0aD48cGF0aCBmaWxsPSIjMUU4OEU1IiBkPSJNMzIuMTk1IDMzLjc3OUwzMS4wNDcgMzQuNDYyIDI5Ljk3OSAzMy42NTggMjQgMjkuMTYyIDE4LjE1NSAzMy42NDYgMTcuMDkxIDM0LjQ2NCAxNS45MzMgMzMuNzg1IDEzIDMyLjA2NiAxMyAzNC43MzggMjMuOTg4IDQyIDM1IDM0Ljc5NCAzNSAzMi4xMTR6Ij48L3BhdGg+PC9zdmc+') 50% 50% no-repeat;
  background-size: 100%;
}


.btn-disabled {
  opacity: 0.5;
  box-shadow: 0 0 0 0;
}

.btn-centered {
  -webkit-box-pack: center;
  -webkit-justify-content: center;
}

.btn-cta:hover {
  opacity: 1;
}

.opacity-light {
  opacity: 0.7;
}
